.container__nav {
  bottom: 10px;
  right: 10px;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 70px;
  width: 70px;
  border-radius: 70px;
  background: rgb(82, 21, 114);
  color: #FFF;
  font-size: 3rem;
  cursor: pointer;
}

.create__form {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 10px;

  input {
    height: 40px;
    width: 100%;
    border: 1px solid #CCC;
    padding: 5px;
    margin-bottom: 7.5px;
  }

  .create__form__action {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    background: rgb(82, 21, 114);
    color: #FFF;
    padding: 10px;
    margin-top: 30px;
    border: 1px solid rgb(82, 21, 114);
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
  }
}