.container__error {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: calc(100vh - 70px);
  width: 100vw;
  justify-content: center;
  align-items: center;
  align-content: center;

  .image {
    height: 300px;

    img {
      height: 100%;
    }
  }

  .message {
    margin-top: 30px;
    font-size: 1.1rem;
  }
}
