.container__header {
  display: flex;
  flex-direction: row;
  padding: 10px;
  height: 70px;
  width: 100vw;
  border-bottom: 1px #CCC solid;

  .logo {
    height: 100%;
    padding-right: 30px;

    img {
      height: 100%;
    }
  }

  .title {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.3rem;
  }
}
